@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Skranji&family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.swiper {
  width: 500px;
  min-height: 1px;
  height: 1000px;
}

.swiper-slide:nth-child(1n) {
  background-color: #844EE6;
  color : white;
}

.swiper-slide:nth-child(2n) {
  background-color: #FAF5DC;
  color: black;
  border : 2px solid white;
}

.swiper-slide:nth-child(3n) {
  background-color: #FA5C7F;
}

.swiper-slide:nth-child(4n) {
  background-color: #475fcb;
  color: white;
  border : none;
}

.swiper-slide:nth-child(5n) {
  background-color: #FA5C7F;

}

.swiper-slide:nth-child(6n) {
  background-color: #00C2B8;
  color: white;
  border : none;
}

.swiper-slide:nth-child(7n) {
  background-color: #FA5C7F;
}

.swiper-slide:nth-child(8n) {
  background-color: #FAF5DC;
  color: black;
  border : 2px solid white;
}

.swiper-slide:nth-child(9n) {
  background-color: #00B8A9;
}

.swiper-slide:nth-child(10n) {
  background-color: #FAF5DC;
  color: black;
  border : 2px solid white;
}

@media screen and (max-width: 669px) {
  .swiper{
      width: 280px;
  }
}